.git
.idea
node_modules
nbproject
admin/i18n/flat.txt
admin/i18n/*/flat.txt
backitup.sh.lastrun
backitupl.sh
package-lock.json
/package-lock.json
/lib/startIOB.bat
/lib/*.bat
/lib/*.log
/lib/total.json
/lib/*.sh
/lib/restore.json
