/* You can delete those if you want. I just found them very helpful */
* {
    box-sizing: border-box
}
.m {
    /* Don't cut off dropdowns! 
    overflow: initial;*/
    overflow: hidden;
}
.multiple-select-dropdown li span .combobox .combobox {
	pointer-events: none;
}
.multiple-select-dropdown.dropdown-content li span, .multiple-select-dropdown.dropdown-content li span label { 
    pointer-events: none;
}

/* Header section*/
#header-area {margin-top: 2px; margin-bottom: 1px; background-color:#174475;}
#header-area #header-logo-title .logo {float:left; margin-right: 10px;}
#header-area #header-logo-title p {line-height: normal !important; margin: 0 !important; padding: 8px 0 0 8px;}
#header-area #header-logo-title p>span.h-title {font-size: 2em !important; color:white; }
#header-area #header-logo-title p>span.h-sub-title {font-size: 1.1em !important; color:white; font-style: italic; }

/* restore list */

.collapsible.root .collapsible-header { padding-top: 0.2rem; padding-bottom: 0.2rem; }
.collapsible.root .collapsible-header h6{font-size: 1.0em; font-weight: bold;}
.collapsible.root .collapsible-header.top {background-color:#3399CC; color:white; padding-top: 0.2rem; padding-bottom: 0.2rem; border-radius: 4px;}
.collapsible.root .collapsible-header.top h6 {background-color:#3399CC; color:white; font-size: 1.2em !important; font-weight: bold;}
.m .collapsible { border-radius: 4px; }

/* Tabs menu */
.m .tabs .tab a { color: rgba(13, 134, 231, 0.7); } /* Color */
.m .tabs .active { border-bottom: 2px solid #0d47a1; font-weight: bold;}
.m .tabs .tab a.active, .m .tabs .tab a:hover { color:#0d47a1; }
.m .tabs .tab a:hover { border-bottom: 2px solid #46a0e9 !important; }
.m .row .col.m1 { width: 14%;}
#tab-area { padding-left:0;padding-right:0; margin-top: 2px; margin-bottom: 2px; background-color:#174475; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) }

/* Tabs menu react-dark */
.m.react-dark .tabs .tab a.active, .m .tabs .tab a:hover { color: #2196f3; }
.m.react-dark .tabs { background-color: #272727 !important;}

.m .card-panel {
    padding: 10px;
    border-radius: 4px;
}
.m .btn, .m .btn-flat, .m .btn-large, .m .btn-backitup {
    border-radius: 4px;
}
.m.react-dark .btn, .m.react-dark .btn-flat, .m.react-dark .btn-large, .m.react-dark .btn-backitup {
    color: #fff;
    border-radius: 4px;
}
/*.m .btn:hover {*/
.m .btn-backitup:hover, .m .btn-small:hover, .m .btn-floating:hover {
    /*background-color: #3399CC;*/
    background-color: rgb(35, 107, 142)!important;
    filter: brightness(105%);
    /*transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;*/
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.m .col .select-wrapper + label {
    top: -26px;
}
.m span {
    font-size: 0.9em;
}
.m .tabs {
    height: auto!important;
}

@media only screen and (max-width: 992px) {
    .m .tabs {
        display: block;
    }
}

.m .page {
    height: calc(100% - 187px);
}
#dialog-command {
    width: calc(100% - 100px);
    border-radius: 4px;
}
#dialog-message .title {
    width: 100% !important;
    background: #64b5f6;
    color: #FFF;
    padding: 0.5rem;
}
#dialog-message .modal-content {
    width: 100% !important;
}
#dialog-message .dialog-text {
    font-size: 16px;
    font-style: bold;
    width: 100%;
}
#dialog-confirm {
    border-radius: 4px;
}
#dialog-confirm .title {
    width: 100% !important;
    background: #174475;
    color: #FFF;
    padding: 0.5rem;
    border-radius: 4px;
}
#dialog-confirm .modal-content {
    width: 100% !important;
    height: 100% !important;
}
#dialog-confirm .dialog-text {
    font-size: 16px;
    font-style: bold;
    width: 100%;
}
.blink {
    animation-name: animation_blink;
    animation-timing-function: ease-in;
    animation-duration: 4s; 
    animation-iteration-count: infinite;            
}
@keyframes animation_blink {
    0% { opacity: 1; }
    50% { opacity: 0.1; }
    100% { opacity: 1; }    
}

#dialog-command .btn {
    margin-right: 0.5rem;
    background-color: #3399CC;
}
#dialog-command .modal-footer {
    padding: 4px 20px;
    margin-left: 0.4rem;
}
#dialog-command .title {
    width: 100% !important;
    background: #174475;
    color: #FFF;
    padding: 0.5rem;
    border-radius: 4px;
}
#dialog-command .modal-content {
    width: 100% !important;
}
#dialog-command .textarea {
    margin-bottom: 0;
}
#dialog-command textarea {
    background: #e9e9e9;
    font-family: courier, monospace;
    font-size: 11px;
    resize: none;
    width: 100%;
    height: calc(100% - 125px);
    margin-bottom: 0;
}
#dialog-command .progress-dont-close {
    float: left;
    padding-left: 1rem;
    padding-top: 1rem;
}
#dialog-command .command {
    font-style: italic;
}
.do-restore {
    cursor: pointer;
}
.collapsible-body {
    margin-left: 2rem !important;
    padding-top: 0 !important;
}
.header {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-style: solid;
}

.table-values.influxDBTable.influxShowLocal td:nth-of-type(2), .table-values.influxDBTable.influxShowLocal td:nth-of-type(3) {
    visibility: hidden;
    display: none;
}
.table-values.influxDBTable.influxShowLocal th:nth-of-type(2), .table-values.influxDBTable.influxShowLocal th:nth-of-type(3) {
    visibility: hidden;
    display: none;
}
.table-values th {
    padding: 0.6rem !important;
}
.m td input[type="checkbox"] {
    position: initial !important;
}
.table-values-fix {
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
}

.m [type=checkbox]:checked+span:not(.lever):before {
    top: 3px;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent!important;
    border-left: 2px solid transparent!important;
    background-color: transparent!important;
}

/* only for temp dark test 
.adapter-body {
    background-color: #1f1f1f;
}
*/